# Database
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/danza?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET="generate-a-random-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# MercadoPago
MP_ACCESS_TOKEN=""
MP_PUBLIC_KEY=""
